@import url('theme.css');

h1 {
	font-size: 5em;
}

p {
	font-size: 1.25em;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.relative {
	position: relative;
}

.center-content {
	text-align: center;
	margin: 0 auto;
}

.h-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.v-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.social-img {
	width: 48px;
	height: 48px;
	margin: 1rem;
}

.social-img:hover {
	filter: brightness(100%) hue-rotate(111deg) saturate(300%);
	transition: 0s;
}

.social-img:not(hover) {
	filter: sepia(0%) saturate(0%) brightness(70%) hue-rotate(0deg);
	transition: 0.3s;
}

#info {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../res/img/overlay.png');
}

#frauma-logo {
	font-family: 'Berlin';
	color: #ffffff;
	font-size: 60px;
	letter-spacing: 11px;
	padding: 28px;
	position: fixed;
	top: 0;
	left: 8px;
}

#frauma-logo img {
	width: 13%;
}

#contact-header {
	font-size: 42px;
	letter-spacing: 4px;
}

#contact {
	border-style: dashed;
	border-radius: 35px;
	border-width: 4px;
	border-color: rgb(200, 200, 200);
	filter: drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.3));
	font-family: 'Berlin';
	padding: 62px;
	font-size: 80px;
	color: #ffffff;
	letter-spacing: 8px;
}

#contact p {
	letter-spacing: 3px;
	font-size: 25px;
}

#contact a:not(:hover) {
	color: #a5a5a5;
}

#contact a:hover {
	color: rgb(255, 255, 255);
}

.footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #06060666;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

	mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10px);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10px);
}

.footer-item {
	color: #797979;
	font-size: 20px;
	padding: 18px;
	padding: 0px;
	margin: 15px;
	margin-top: 20px;
}

#coming-soon a:not(:hover) {
	color: #474747;
}

#coming-soon a:hover {
	color: rgb(155, 155, 155);
}

@media (max-width:1367px) {
	.footer-item {
		font-size: 12px;
		padding: 8px;
	}

	#contact {
		filter: drop-shadow(-1px 1px 0px rgba(0, 0, 0, 0.3));
		border-radius: 35px;
		border-width: 2px;
		padding: 16px;
		font-size: 26px;
		letter-spacing: 8px;
	}

	#contact p {
		letter-spacing: 3px;
		font-size: 13px;
	}

	.social-icon {
		width: 28px;
		height: 28px;
		margin: 0.5rem;
	}

	#frauma-logo {
		left: 2px;
	}
}