#datenschutz {
	font-family: 'RobotoMono';
	padding: 48px;
	
	color: #ffffff;
}

#datenschutz p {
    font-size: 12px;
}

#datenschutz li {
    font-size: 12px;
}

#datenschutz h1 {
	font-family: 'Berlin';
	font-size: 36px;
	letter-spacing: 3px;
}

#datenschutz h2 {
	font-family: 'Berlin';
	font-size: 26px;
	letter-spacing: 3px;
}

#datenschutz a {
	font-family: 'Berlin';
	font-size: 48px;
	letter-spacing: 4px;
}

#datenschutz a:not(hover) {
	color: rgb(200,200,200);
}

#datenschutz a:hover {
	color: rgb(255, 255, 255);
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
